<div>
    <div class="container-fluid text-white bg-primary p-4">
        <h2 class="text-center fw-semibold mt-2">Get Huge Savings on Medicines</h2>
        <div class="d-flex flex-row justify-content-center">
            <div class="p-2"><i class="bi bi-check-circle me-3"></i>100 % Genuine Medicines</div>
            <div class="p-2"><i class="bi bi-check-circle me-3"></i>Trusted Pharmacies</div>
            <div class="p-2"><i class="bi bi-check-circle me-3"></i>Delivery to your doorstep</div>
            <div class="p-2"><i class="bi bi-check-circle me-3"></i>Store Pick up</div>
        </div>
    </div>
</div>
 <div class="container w-75 mb-4">
    <div class="input-group input-group-lg rounded-3">
        <span class="input-group-text search-heading bg-body" id="inputGroup-sizing-lg">Pune 560029  <span ><i class="bi bi-chevron-down text-primary ms-4 fs-5" data-bs-toggle="modal" data-bs-target="#exampleModal"></i></span> </span>
        <input type="text" class="form-control search-input" placeholder="Search Medicines" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
        <span class="input-group-text search-heading bg-body text-primary fw-semibold" id="inputGroup-sizing-lg"><i class="bi bi-search ms-3 fs-5" ></i>&nbsp;Search</span>
    </div>
</div>



    <div class="container w-75">
        <img src="https://www.medibuddy.in/assets/banners/medicine-page.webp" alt="" height="30%" width="100%">
    </div>

<div>
    <app-top-deals></app-top-deals>
</div>

